.login-page {
  height: calc(100vh - 112px);
  background-color: #4b2d83;
}

.left-section {
  background-color: #4b2d83;
}

.right-section {
  background-color: #5939a6;
  height: calc(100vh - 112px);
}

.form-card-parent {
  background-color: #5939a6;
  border-radius: 15px;
  max-width: 380px;
}

.form-control-login {
  background-color: #7b56d0;
  border: none;
  color: #fff;
}

.input-group-text {
  background-color: #7b56d0;
  border: none;
  color: #fff;
}

.btn-primary {
  background-color: #ffa101;
  border: none;
}

.btn-primary:focus {
  outline: none;
  box-shadow: none;
}

a {
  color: #fff;
}

.btn-outline-light {
  transition: 0.3s;
  border: 1px solid #fff;
  color: #fff;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.btn-outline-light:hover {
  background-color: #ffa101;
  color: white;
  border: 1px solid #ffa101;
}

.btn-outline-light:focus {
  box-shadow: none;
}

.website-name {
  color: #ffa101;
}

.form-title {
  color: #ffa101;
}

.password,
.email {
  color: white;
}

.form-check-label,
.dont-have {
  color: #212529;
}
.signup-word,
.forgotten {
  color: #ffa101;
}

.forgotten {
  align-self: flex-start;
}