.active {
    color: #333;
    font-weight: bold;
    border-bottom: 2px solid #f0b429;
}

.cancel-btn {
    background-color: #f44336;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cancel-btn:hover {
    background-color: #500500;
    transition: 0.3s;
}