.image-and-location img {
    border-radius: 15px;
    width: 35%;
}

.arrow-icon {
    animation: moveRight 0.7s ease-in-out infinite;
    transition: transform 0.5s;
    color: white;
}

.text-danger {
    color: red;
    font-weight: bold;
  }
  
.book-details-img{
    height: 5rem;
}

@keyframes moveRight {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(5px);

    }

    100% {
        transform: translateX(0);
    }
}