:root {
    --main-color: #322A7D;
    --body-color: #F7F8FA;
    --black-color: #11141A;
}

.landing {
    background-color: var(--body-color);
}

.breadcrumb {
    background-color: transparent;
    padding: 0;
    margin-bottom: 0;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: "•";
    color: #6c757d;
    padding: 0 5px;
}

.breadcrumb a {
    color: #6c757d;
}

.breadcrumb-item.active {
    font-weight: bold;
    color: var(--black-color);
}

.btn-custom {
    border-radius: 25px;
    font-size: 14px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    color: #000;
}

.landing .image-boxes .full-height {
    height: 100%;
}

.landing .image-boxes img {
    border-radius: 12px;
}

.landing .image-boxes .row .vurve::before {
    content: attr(data-work);
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--body-color);
    font-size: 22px;
    transform: translate(-50%, -50%);
    letter-spacing: 15.5px;
    font-weight: bold;
}

.btn-see-all {
    bottom: 15px;
    right: 15px;
    color: var(--black-color);
    background-color: var(--body-color);
    border-radius: 15px;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn-see-all:hover {
    color: var(--body-color);
    background-color: var(--black-color);
}

.business-card {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.business-status {
    color: orange;
    font-weight: bold;
}

.business-info i {
    margin-right: 5px;
}

.btn-enquire {
    background-color: #e9ecef;
    color: #6c757d;
    border: none;
}

.btn-book-now {
    background-color: var(--main-color);
    color: #fff;
}

.btn-book-now:hover {
    color: #ffc107;
}

.btn-book-now:hover {
    background-color: var(--main-color);
}

.stars svg {
    color: gold;

}

@media (max-width:767px) {
    .business-card .info-shop {
        flex-direction: column;

    }
}

.modal {
    top: 50px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.modal-content {
    border-radius: 8px;
    width: 90%;
    max-width: 800px;
}



.arrow {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}