.card-parent {
  max-width: 100%;
  border: none;
  border-right: 3px solid #ffa101;
}

.service-img {
  height: 100px;
}

.confirm-icon {
  width: fit-content;
  font-size: 1rem;
}

.confirm-icon:hover {
  background-color: #198754;
  cursor: default;
}

.confirm-icon .fa-check {
  cursor: default;
  font-size: 1rem;
  height: 1rem;
  width: 1rem;
}

.icon-parent{
    cursor: pointer;
}

.small-txt{
    font-size: 0.7rem;
}
