.card-parent {
  max-width: 100%;
  border: none;
  border-right: 3px solid #ffa101;
}

.service-img {
  height: 100px;
}

.confirm-icon {
  width: fit-content;
  font-size: 1rem;
}

.confirm-icon:hover {
  background-color: #198754;
  cursor: default;
}

.confirm-icon .fa-check {
  cursor: default;
  font-size: 1rem;
  height: 1rem;
  width: 1rem;
}

.icon-parent {
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.small-txt {
  font-size: 0.7rem;
}

.icon-parent:hover {
  background-color: #ffa101 !important;
  color: white !important;
}
