a {
  text-decoration: none;
}

.navbar {
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar input[type="search"] {
  height: 44px;
  border-radius: 15px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
  outline: none;
  border: none;
  background-color: #f7f8fa;
  transition: 0.5s ease;
}

@media (min-width: 992px) {
    .navbar input[type="search"]:focus {
        outline: none;
        box-shadow: none;
        width: 300px;
    }
}

.navbar form svg {
  color: #bbc5d5;
  width: 18.02px;
  height: 18.02px;
  top: 50%;
  left: 15px;
  transform: translatey(-50%);
}

.navbar .bangalore a {
  text-decoration: none;
  color: black;
  height: 15px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
}

.navbar .navbar-nav .nav-link {
  color: #11141a;
  font-family: Inter;
  font-size: 17px;
  font-weight: 600;
}

.navbar-nav .nav-link:hover {
  color: #ffa101 !important;
}

.navbar-nav .nav-link:focus {
  color: #ffa101 !important;
}

.site-name-h1 {
  color: #322a7d;
  font-weight: bold;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}

.site-name-h1:hover {
  color: #ffa101;
}

.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-toggler-home:hover {
  background-color: #ffa101;
}

.navbar-toggler-home:focus {
  box-shadow: none !important;
}
