.day-selection {
    overflow: hidden;
}

.day-box {
    transition: background-color 0.3s ease;
}

.day-box:hover {
    background-color: #007bff;
    color: white;

}

.time-selection {
    margin-bottom: 20px;
}

.month-selection {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.time-slot {
    width: 100%;
}

.selected {
    background-color: #007bff;

    color: white;
}