.signup-page {
  height: calc(100vh - 112px);
  background-color: #4b2d83;
}

.left-section {
  background-color: #4b2d83;
}

.right-section {
  background-color: #5939a6;
  height: calc(100vh - 112px);
}

.form-card-parent {
  background-color: #6440b3;
  border-radius: 15px;
  max-width: 380px;
}

.form-control-signup {
  background-color: #7b56d0;
  border: none;
  color: #fff;
}

.input-group-text {
  background-color: #7b56d0;
  border: none;
  color: #fff;
}

.btn-primary {
  background-color: #ffa101;
  border: none;
}

.btn-primary:focus {
  outline: none;
  box-shadow: none;
}

a {
  color: #fff;
}

.btn-outline-light {
  transition: 0.3s;
  border: 1px solid #fff;
  color: #fff;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.btn-outline-light:hover {
  background-color: #ffa101;
  color: white;
  border: 1px solid #ffa101;
}

.btn-outline-light:focus {
  box-shadow: none;
}

.btn-outline-light:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.Label {
  color: white;
}

.login-word {
  color: #ffa101;
}

.signup-page .text-danger {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: bisque;
  z-index: 10000;
  border-radius: 6px;
  padding: 0.5rem;
  width: 50%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
